<head>
  <meta charset="utf-8">
  <title>Puppet Pull Request Metrics</title>
</head>

<script type="text/javascript">
</script>

<%= erb :module, :locals => { :module_name => module_name } %>

</body>
